// Styling for the experience section
.experience-heading {
  margin: 15px 0;
  text-transform: none;
}

.experience-subtitle {
  font-weight: 500;
}
.experience-job-title {
  @include body-font;
  font-weight: 100;
  color: $gray-400;
}