// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;
  h3 {
    font-weight: 100;
  }
  h5 {
    font-weight: 100;
    font-size: 18px;
    color: $primary;
  }
  h1 {
    font-weight: 600;
    font-size: 70px;
  }
  p {
    font-size: 17px;
  }
  a {
    font-size: 17px;
    @include heading-font;
    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
  .fa-file-pdf-o {
    color: $primary;
  }
}


ul.social-buttons {
  margin-bottom: 0;
  li {
    a {
      font-size: 25px;
      line-height: 45px;
      display: block;
      width: 45px;
      height: 45px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      color: white;
      border-radius: 100%;
      outline: none;
      background-color: $gray-900;
      &:active,
      &:focus,
      &:hover {
        background-color: $primary;
      }
    }
  }
}
